In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series([2,3,5,6,7])
s1

0    2
1    3
2    5
3    6
4    7
dtype: int64

In [3]:
s1.index = ['a','b','c','d','e']
s1

a    2
b    3
c    5
d    6
e    7
dtype: int64

In [4]:
s1 = pd.Series([34,56,23,43],index=['IT','HR','admin','Account'])
s1

IT         34
HR         56
admin      23
Account    43
dtype: int64

In [5]:
marks = pd.Series({'ram':76,'suraj':66,'dipesh':88,'ganesh':69})
marks

ram       76
suraj     66
dipesh    88
ganesh    69
dtype: int64

## Operations on Series

In [6]:
s1 = pd.Series(np.random.randint(1,50,5))
s1

0    12
1    43
2    27
3    25
4    15
dtype: int32

In [7]:
s2 = pd.Series(np.arange(1,6))
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
s1 + s2

0    13
1    45
2    30
3    29
4    20
dtype: int64

In [9]:
s3 = pd.Series(np.arange(1,7))
s3

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [10]:
s1 + s3

0    13.0
1    45.0
2    30.0
3    29.0
4    20.0
5     NaN
dtype: float64

In [12]:
s4 = pd.Series([1,3,3.14,'ram',False])
s4

0        1
1        3
2     3.14
3      ram
4    False
dtype: object

In [24]:
marks[marks < 70]    #conditional selection

suraj     66
ganesh    69
dtype: int64

In [17]:
marks

ram       76
suraj     66
dipesh    88
ganesh    69
dtype: int64

In [23]:
marks['dipesh']  # selecting element by default index

np.int64(88)

In [19]:
s1

0    12
1    43
2    27
3    25
4    15
dtype: int32

In [20]:
s5 = pd.Series([34,56,23,43],index=['IT','HR','admin','Account'])
s5

IT         34
HR         56
admin      23
Account    43
dtype: int64

In [22]:
s5.iloc[3]   # seletive element by laballed index

np.int64(43)